#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.travel_mainDiv{
    
    border:1px solid;
    border-color:black;
    padding-left:0;
    padding-right:0;
    float:none;
}
.travel_mainDiv image{
    
    width:100%;
}
.travel_mainDiv hr{
    width:250px;
}
.travel_mainDiv h5, .travel_mainDiv p{
    margin-left:20px;
}
.movie_head{
    font-size:20px;
    padding:6px 22px;
    border-radius: 10px;
    margin-bottom:15px;
}
.enviroment_li{
    margin-top:13px;
}
.enviroment_li h4{
    border-bottom:1px solid white;
    padding:8px;
}
